@import '../../scss/index.scss';

.top-bar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 1;

    &__left{
        display: flex;
        align-items: center;
        i{
            font-size: 20px;
            margin: 0 5px;
            &:hover{
                cursor: pointer;
                color: $color-text-white;
            }
        }
    }

    &__right{
        display: flex;
        align-items: center;

        a{
            display: flex;
            align-items: center;
            margin-right: 20px;
            color: $color-text-white;

            &:hover{
                color: $primary-color;
            }

            img{
                width: 25px;
                height: 25px;
                margin-right: 10px;
                border-radius: 50px;
            }
        }

        i{
            &:hover{
                cursor: pointer;
                color: $color-text-white;
            }
        }
    }
}