@import './scss/index.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $color-text-grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Toastify{
  .Toastify__toast-container--top-right{
    text-align: center;
    .Toastify__toast--success{
      background-color: $primary-color;
    }
  }
}

.ui.form{
  .field{
    .input{
      input{
        background-color: $background-grey-light;
        font-size: 16px;
        color: $color-text-white;
        border: 0;

        &:hover,
        &:active,
        &:focus{
          background-color: $background-grey-light-hover;
          color: $color-text-white;
          border: 0;
        }
      }

      i{
        color: $color-text-white;
        font-size: 16px;
      }
    }
  }

  .ui.button{
    width: 100%;
    margin-top: 20px;
    background-color: $primary-color;
    color: $color-text-white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;

    &:hover{
      background-color: $primary-color-hover;
    }
  }

  .ui.dropdown{
    background-color: $background-grey-light;
    font-size: 16px;
    color: $color-text-white;
    border: 0;

    .search{
      color: $color-text-white;
    }

    .menu{
      background-color: $background-grey-light;
      border: 0;

      .item{
        border-color:$border-light-dark;
        color: $color-text-white;
      }

      .message{
        color: $color-text-white;
      }
    }
  }
}
