$primary-color: rgb(29, 185, 84);
$primary-color-hover: rgb(30, 215, 95);

$color-text-white: rgb(255, 255, 255);
$color-text-white-light: rgba(255, 255, 255, .7);
$color-text-grey: rgb(158, 158, 158);
$color-text-dark: rgb(0, 0, 0);
$color-text-dark-light: rgba(0, 0, 0, .7);

$background-primary: $primary-color;
$background-white: rgb(255, 255, 255);
$background-grey: rgb(45, 45, 45);
$background-grey-medium: #1c1c1c;
$background-grey-light: rgb(59, 59, 59);
$background-grey-dark-light: rgb(38, 38, 38);
$background-grey-light-hover: rgb(73, 73, 73);
$background-grey-hover: rgb(60, 60, 60);
$background-grey-dark: rgb(16, 16, 16);
$background-dark: rgb(0, 0, 0);

//Panel de usuarios
$background-primary: rgb(20, 20, 20);

$danger: rgb(240, 0, 0);

//Bordes
$border-grey-light: #3b3b3b;
$border-light-dark: #9e9e9e;
$border-white: rgb(255, 255, 255);